* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Container */
.main-container {
    width: 100%;
    padding: 20px;
}

/* Card */
.card {
    max-width: 450px;
    margin: auto;

    background: #ffffff;
    padding: 25px;
    border-radius: 16px;

    animation: glowBlink 5s infinite ease-in-out;
}
@keyframes glowBlink {
    0% {
        box-shadow:
            0 0 20px rgb(194, 9, 207),
            0 0 60px rgba(212, 0, 255, 0.592),
            0 20px 40px rgb(0, 0, 0);
    }

    50% {
        box-shadow:
            0 0 40px rgb(194, 9, 207),
            0 0 90px rgba(212, 0, 255, 0.75),
            0 30px 80px rgb(0, 0, 0);
    }

    100% {
        box-shadow:
            0 0 20px rgb(194, 9, 207),
            0 0 60px rgba(212, 0, 255, 0.592),
            0 20px 40px rgb(0, 0, 0);
    }
}


/* Heading */
.card h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: #020617;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #475569;
    margin-bottom: 25px;
}

/* Form */
.form-group {
    margin-bottom: 16px;
}

label {
    font-size: 13px;
    color: #334155;
    display: block;
    margin-bottom: 6px;
}

input, textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    outline: none;
}

input:focus,
textarea:focus {
    border-color: #22c55e;
}

/* Textarea */
textarea {
    resize: none;
    height: 90px;
}

/* Row */
.row {
    display: flex;
    gap: 12px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #22c55e, #16a34a);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(34,197,94,0.4);
}

/* Note */
.note {
    margin-top: 20px;
    padding: 12px;
    background: #f1f5f9;
    border-left: 4px solid #22c55e;
    font-size: 13px;
    color: #334155;
}

/* Responsive */
@media (max-width: 500px) {
    .row {
        flex-direction: column;
    }
}
